.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.row{
  [class*="col-"] {
    
    &.no-padding-left{
      padding-left: 0 !important;
    }
    
    &.no-padding-right{
      padding-right: 0 !important;
    }
    
     &.add-extra-padding-left{
      padding-left: 30px !important;
    }
    
    &.add-extra-padding-right{
      padding-right: 30px !important;
    }
    
  }
}
